.gameBackground {
    background-color: rgb(43, 46, 46);
    height: 100vh;
    width: 100%;
}
.gameArea {
    text-align: center;
    padding-top: 50px;
}
.gameCells {
    display: grid;
    gap: 0;
    grid-template-columns: 30% 30% 30%;
    width: 330px;
    margin: auto;
}
.cell {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    background-color: antiquewhite;
    box-sizing: border-box; 
    display: flex; 
    justify-content: center;
    align-items: center;
    line-height: 75px; 
    font-size: 50px;
}
#restartBtn {
    background-color: aliceblue;
    height: 30px;
    width: 100px;
    border-radius: 12px;
    border: none;
    text-align: center;
    margin-top: 20px;
}
